@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them!
*/

:root {
  --color-bg-primary: #0d1117;
  --color-bg-secondary: #161b22;
  --color-text-primary: #c9d1d9;
  --color-text-secondary: #8b949e;
  --color-text-link: #58a6ff;
}
body {
  overflow-x: hidden;  /* Hide horizontal scrollbar */
  overflow-y: auto;    /* Add vertical scrollbar as needed */
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: var(--color-bg-secondary);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  z-index: 3;
  max-width: 640px;
  background-image:
    radial-gradient(at 27% 37%, hsl(261, 90%, 63%) 0px, transparent 0%),
    radial-gradient(at 97% 21%, hsl(321, 90%, 72%) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsl(209, 90%, 63%) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsl(281, 90%, 67%) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsl(218, 56%, 74%) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsl(336, 55%, 73%) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsl(358, 55%, 79%) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.app {
  @apply relative text-white z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.outline_btn {
  @apply rounded-full py-1.5 px-5 text-purple-900 transition-all hover:bg-purple-600 hover:text-white text-center text-lg font-inter;
}

.text_input {
  @apply block w-full rounded-md border border-purple-400
  bg-gray-900 py-2.5 font-satoshi pl-5 pr-12 text-sm
  shadow-lg font-medium focus:border-purple-500 focus:outline-none focus:ring-0;
}


.glassmorphism {
  @apply rounded-xl bg-gray-800 outline outline-offset-2 outline-purple-700/50 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

/* ------------- Form ------------*/
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

 /*---------- entry form------------*/
.form_input {
  @apply relative flex items-center mb-4;
}

.form_input input {
  @apply w-full border border-gray-300 rounded-md py-2 px-3 text-black focus:outline-none;
}

.form_input input[type="email"],
.form_input input[type="password"] {
  @apply pl-10;
}

.form_input .icon {
  @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400;
}

.card {
  @apply bg-blue-50 text-white rounded-lg shadow-lg p-6;
}

.card h1 {
  @apply text-center text-2xl font-bold mb-4;
}

.card input[type="text"],
.card input[type="email"],
.card input[type="password"] {
  @apply w-full border border-gray-300 rounded-md py-2 px-3 mb-4 text-white bg-transparent focus:outline-none;
}

button[type="submit"], .nav_btn_signIn {
  @apply text-white text-sm bg-gradient-to-br from-purple-600
  to-blue-500 hover:bg-gradient-to-bl focus:ring-4
  focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800
  font-medium rounded-lg px-5 py-3 text-center mb-2;
}

.form_btn {
  @apply border border-purple-500 text-sm px-5 py-3 font-medium hover:bg-purple-200 bg-gray-800 hover:text-blue-600 text-purple-500 rounded-lg mb-2;
}
.card p {
  @apply text-center text-sm text-gray-400;
}

.card p span {
  @apply text-sm text-gray-200 ml-1 cursor-pointer underline;
}

 .card input[type="text"],
 .card input[type="email"],
 .card input[type="password"] {
  @apply border-gray-700;
}

 .card button[type="submit"] {
  @apply bg-black text-white;
}


 /*------------nav----------------*/
.navbar-nav {
  display: flex;
  align-items: center;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
}

.nav_left > * + *,
.nav_right > * + * {
  margin-left: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
}

.btn-sm {
  font-size: 0.875rem;
}

/* Additional styles for the fixed navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0;
  list-style: none;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #58a6ff;
}

/*-----------todo page -----------*/
.todo-page, .content {
  margin-top: 4rem;
}

/*--------------totoItem----------*/

.table_row {
  @apply py-2 px-4 text-center border border-dotted border-indigo-400
}

/*--------------filter----------*/

.filter_input {
  @apply border border-purple-400 rounded-md
  bg-gray-900 text-white ml-1 px-2 py-1
  focus:border-violet-300 hover:border-violet-300
}